* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: lightgrey;
}

h1 {
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	text-align: center;
}


.container {
	width: 700px;
	height: 500px;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.hidden {
	display: none;
}